In [1]:
#2-1 用字串建構一個Unicode編碼位置串列
symbols = '$&@!%*'
codes = []
for symbol in symbols:
    codes.append(ord(symbol))

print("2-1:",codes)


#2-2 用字串建構一個Unicode編碼位置串列，只用兩行程式
symbols = '$&@!%*'
codes = [ord(symbol) for symbol in symbols]
print("2-2:",codes)

"""
ord() 函数是 chr() 函数（对于8位的ASCII字符串或unichr()函数（对于Unicode对象）
的配对函数，它以一个字符（长度为1的字符串）作为参数，返回对应的 ASCII 数值，
或者 Unicode 数值，如果所给的 Unicode 字符超出了你的 Python 定义范围，
则会引发一个 TypeError 的异常。
"""

2-1: [36, 38, 64, 33, 37, 42]
2-2: [36, 38, 64, 33, 37, 42]

In [5]:
#2-3listcomp與map/filter組合建構的同一串列
symbols = '$&@!%*'
beyond_ascii = [ord(s) for s in symbols if ord(s) > 27]
print(beyond_ascii)

beyond_ascii =list(filter(lambda c: c >27,map(ord,symbols)))
print(beyond_ascii)

[36, 38, 64, 33, 37, 42]

[36, 38, 64, 33, 37, 42]

In [6]:
#2-4 使用串列生成式來作笛卡爾乘積
colors = ['black','white']
sizes = ['S','M','L']
tshirts = [(color,size) for color in colors for size in sizes]
print(tshirts)

for color in colors:
    for size in sizes:
        print((color,size))
        
tshirts = [(color,size) for size in sizes for color in colors]
tshirts

[('black', 'S'), ('black', 'M'), ('black', 'L'), ('white', 'S'), ('white', 'M'), ('white', 'L')]
('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

[('black', 'S'),
 ('white', 'S'),
 ('black', 'M'),
 ('white', 'M'),
 ('black', 'L'),
 ('white', 'L')]

In [9]:
#2-5 以產生器表達式來初始化tuple與陣列
colors = ['black','white']
sizes = ['S','M','L']
symbols = '$&@!%*'
tuple(ord(symbol) for symbol in symbols)
import array
array.array('I',(ord(symbol)for symbol in symbols))

#2-6以產生氣做迪卡爾乘績
for tshirt in ('%s %s'%(c,s) for c in colors for s in sizes):
    print(tshirt)
    
#2-7將tuple當作紀錄
lax_coordinates = (33.9425,-118.408056)
city = ('Tokyo',2003,32450,0.66,8014)
travel_id = [('USA','31195855'),('BRA','CE342567'),('ESP','XDA205856')]
for passort in sorted(travel_id):
    print('%s %s' %passort)
    
for country, _ in travel_id:
    print(country)

black S
black M
black L
white S
white M
white L
BRA CE342567
ESP XDA205856
USA 31195855
USA
BRA
ESP

In [18]:
#拆解Tuple
lax_coordinates = (33.9425,-118.408056)
city = ('Tokyo',2003,32450,0.66,8014)

latitude,longitude = lax_coordinates 
print(latitude,longitude)

divmod(20,8)

t = (20,8)
divmod(*t)

quotient,remainder = divmod(*t)

quotient
remainder

33.9425 -118.408056

4

In [2]:
import os
_,filename = os.path.split('/home/luciano/.ssh/idrsa.pub')
filename

#用*來捕捉項目
rangeA = range(5)
rangeA
a,b, *rest = range(5) 
print(a,b,rest)

'idrsa.pub'

In [9]:
#用*來捕捉項目
rangeA = range(5)
rangeA
a,b, *rest = range(5) 
print(a,b,rest)

0 1 [2, 3, 4]

In [13]:
#2-8拆解嵌套式tuple,來取得經度
metro_areas = [
    ('Tokyo','JP',36.933,(35,139)),
    ('Delhi NCR','IN',21.935,(28,77)),
    ('Mexico City','MX',20,(19,-99)),
    ('New York','US',20,(40,-74)),
    ('Sao Paulo','BR',19,(-23,-46)),   
]

print('{:15} | {:^9} |{:^9}'.format('','lat','long'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name,cc,pop,(latitude,longitude) in metro_areas:
    if longitude <=0:
        print(fmt.format(name,latitude,longitude))

                |    lat    |  long
Mexico City     |   19.0000 |  -99.0000
New York        |   40.0000 |  -74.0000
Sao Paulo       |  -23.0000 |  -46.0000

In [32]:
#2-9定義並使用具名tuple型態
from collections import namedtuple
City = namedtuple('City','name country population coordinates')
tokyo = City('Tokyo','JP','36',(35,139))
tokyo
tokyo.population
tokyo.coordinates
tokyo[3]

#具tuple屬性與方法
City._fields
LatLong = namedtuple('LatLong','lat long')
delhi_data = ('Delhi NCR','IN',21.935,LatLong(28,77))
delhi = City._make(delhi_data)
print(delhi._asdict())

for key,value in delhi._asdict().items():
    print(key,':',value)

A = (1,2,3,4,5,6)
type(A)    
#dir(A)

OrderedDict([('name', 'Delhi NCR'), ('country', 'IN'), ('population', 21.935), ('coordinates', LatLong(lat=28, long=77))])
name : Delhi NCR
country : IN
population : 21.935
coordinates : LatLong(lat=28, long=77)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']